name: Python application

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up latest Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.X

      - name: Install dependencies
        run: |
          make install
          make install-dev

      - name: Check formatting
        run: make format-check

      - name: Lint
        run: make lint

      - name: Unit tests
        run: make unit
